@import "../../scss/sections";
@import "../../scss/animation";

.donation {
  @extend .section;
  opacity: 0;
  animation: fadeIn 1s 0s;
  animation-fill-mode: forwards;

  @media screen and (max-width: 991px) {
    align-items: center;
  }
}

.title {
  @extend .title;
}

.text {
  @extend .text;

  font-size: 16px;

  strong {
    font-weight: 700;
    word-break: break-all;
  }
}

.qrCode {
  max-width: 100%;
}
