@import "../../scss/sections";
@import "../../scss/animation";

.donation {
  @extend .section;
  opacity: 0;
  animation: fadeIn 1s 0s;
  animation-fill-mode: forwards;

  @media screen and (max-width: 991px) {
    align-items: center;
  }
}

.title {
  @extend .title;
}

.text {
  @extend .text;

  font-size: 16px;

  strong {
    font-weight: 700;
    word-break: break-all;
    position: relative;
    margin-left: 10px;
  }
}

.qrCode {
  max-width: 100%;
  max-height: 30vh;
  margin-bottom: 20px;

  @media screen and (max-height: 439px) {
    max-height: 20vh;
  }
}
