@import "../../scss/buttons";
@import "../../scss/sections";
@import "../../scss/animation";

.main {
  @extend .section;
  opacity: 0;
  animation: fadeIn 1s 0s;
  animation-fill-mode: forwards;

  @media screen and (max-width: 991px) {
    align-items: center;
  }
}

.title {
  @extend .title;
}

.text {
  @extend .text;
}

.buttons {
  display: flex;
  align-items: center;

  @media screen and (max-width: 420px) {
    flex-direction: column;
    width: 100%;
  }

  li {
    margin-right: 6px;

    @media screen and (max-width: 420px) {
      margin-right: 0;
      margin-bottom: 10px;
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      @extend .btn !optional;

      @media screen and (max-width: 420px) {
        text-align: center;
      }

      &.btnInverse {
        background-color: #252525;
        border-color: #252525;
        color: #ffeb3b;

        &:hover {
          animation: pulse 0.2s linear;
        }
      }

      &:hover {
        background-color: #252525;
        border-color: #252525;
        color: #ffeb3b;
      }
    }
  }
}
