@import "../../scss/buttons";
@import "../../scss/sections";
@import "../../scss/animation";

.consulting {
  @extend .section;
  opacity: 0;
  animation: fadeIn 1s 0s;
  animation-fill-mode: forwards;
}

.title {
  @extend .title;
}

.text {
  @extend .text;
}
