@import "../../scss/animation";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px 0;
  transform: translateY(-50px);
  opacity: 0;
  animation: slideInHeader 1s 0.5s;
  animation-fill-mode: forwards;

  @media screen and (max-width: 768px) {
    padding: 30px 30px 0;
  }
  @media screen and (max-width: 420px) {
    padding: 15px 15px 0;
  }

  &:after {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
  }

  &.main li.main,
  &.hack li.hack,
  &.cv li.cv,
  &.consulting li.consulting,
  &.donation li.donation {
    &:after {
      -webkit-transform: translate3d(-50%, -50%, 0) scale3d(40, 40, 1);
      -moz-transform: translate3d(-50%, -50%, 0) scale3d(40, 40, 1);
      -ms-transform: translate3d(-50%, -50%, 0) scale3d(40, 40, 1);
      transform: translate3d(-50%, -50%, 0) scale3d(40, 40, 1);
      -webkit-transition-property: width, height, border-radius, transform;
      -moz-transition-property: width, height, border-radius, transform;
      -o-transition-property: width, height, border-radius, transform;
      transition-property: width, height, border-radius, transform;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-in-out;
      -moz-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
      border-radius: 0;
      z-index: 2;
      opacity: 1;
    }

    a {
      &:before,
      &:after {
        opacity: 1;
        height: 2px;
        -webkit-transform: scale(0.5) rotate(-30deg);
        -moz-transform: scale(0.5) rotate(-30deg);
        -ms-transform: scale(0.5) rotate(-30deg);
        -o-transform: scale(0.5) rotate(-30deg);
        transform: scale(0.5) rotate(-30deg);

        @media screen and (max-width: 768px) {
          -webkit-transform: scale(0.5) rotate(-70deg);
          -moz-transform: scale(0.5) rotate(-70deg);
          -ms-transform: scale(0.5) rotate(-70deg);
          -o-transform: scale(0.5) rotate(-70deg);
          transform: scale(0.5) rotate(-70deg);
        }
      }
    }
  }

  &.main,
  &.donation {
    li a,
    .dropdownButton span {
      &:before,
      &:after {
        background: #252525;
      }
    }
  }
  &.hack,
  &.cv,
  &.consulting {
    li a,
    .dropdownButton span {
      &:before,
      &:after {
        background: #ffffff;
      }
    }
  }
}

.logo {
  z-index: 20;
  h1 {
    font-family: "Quicksand", sans-serif;
    text-transform: lowercase;
    font-weight: bold;
    font-size: 50px;
    line-height: 0.75em;
    letter-spacing: 0;
    margin-bottom: 0;
    transition: color 0.5s;

    @media screen and (max-width: 991px) {
      font-size: 38px;
    }
    @media screen and (max-width: 420px) {
      font-size: 28px;
    }
  }
}

.dropdownButton {
  display: none;
  width: 28px;
  height: 28px;
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 0;
  z-index: 15;
  position: relative;

  @media screen and (max-width: 768px) {
    display: block;
    animation: slideInHeader 1s 0.5s;
  }

  &.opened {
    span {
      &:after {
        width: 30px;
      }

      &:first-child {
        &:after {
          webkit-transform: translateX(1px) translateY(-2px) rotate(43deg);
          -moz-transform: translateX(1px) translateY(-2px) rotate(43deg);
          -ms-transform: translateX(1px) translateY(-2px) rotate(43deg);
          -o-transform: translateX(1px) translateY(-2px) rotate(43deg);
          transform: translateX(1px) translateY(-2px) rotate(43deg);
        }
      }
      &:nth-child(2) {
        &:after {
          opacity: 0;
        }
      }
      &:last-child {
        &:after {
          -webkit-transform: translateX(1px) translateY(2px) rotate(-43deg);
          -moz-transform: translateX(1px) translateY(2px) rotate(-43deg);
          -ms-transform: translateX(1px) translateY(2px) rotate(-43deg);
          -o-transform: translateX(1px) translateY(2px) rotate(-43deg);
          transform: translateX(1px) translateY(2px) rotate(-43deg);
        }
      }
    }
  }

  span {
    &:after {
      content: "";
      position: absolute;
      left: 0;
      display: block;
      width: 24px;
      height: 3px;
      margin: 4px 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-transition: -webkit-transform 0.35s, background 0.35s,
        opacity 0.35s;
      -moz-transition: -moz-transform 0.35s, background 0.35s, opacity 0.35s,
        width 0.35s;
      -ms-transition: -ms-transform 0.35s, background 0.35s, opacity 0.35s,
        width 0.35s;
      -o-transition: -o-transform 0.35s, background 0.35s, opacity 0.35s,
        width 0.35s;
      transition: transform 0.35s, background 0.35s, opacity 0.35s, width 0.35s;
      background-color: #252525;
    }

    &:first-child {
      &:after {
        top: 0;
        -webkit-transform-origin: 0 50%;
        -moz-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
        -o-transform-origin: 0 50%;
        transform-origin: 0 50%;
      }
    }
    &:nth-child(2) {
      &:after {
        top: 8px;
      }
    }
    &:last-child {
      &:after {
        top: 16px;
        -webkit-transform-origin: 0 50%;
        -moz-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
        -o-transform-origin: 0 50%;
        transform-origin: 0 50%;
      }
    }
  }
}

.navigation {
  @media screen and (max-width: 768px) {
    position: fixed;
    left: 0;
    top: -50vh;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    align-items: center;
    transition: top 1s ease-out, opacity 1s ease-out;

    opacity: 0;
    pointer-events: none;
  }

  &.show {
    @media screen and (max-width: 768px) {
      top: 0vh;
      opacity: 1;
      pointer-events: auto;
    }
  }

  ul {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      width: 100%;
    }

    li {
      margin-right: 40px;
      position: relative;

      @media screen and (max-width: 991px) {
        margin-right: 18px;
      }
      @media screen and (max-width: 768px) {
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:after {
        content: "";
        display: block;
        width: 100px;
        height: 100px;
        position: absolute;
        border-radius: 100%;
        opacity: 0;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        pointer-events: none;
        z-index: 2;
      }

      &.main {
        &:after {
          background-color: #ffeb3b;
        }
      }
      &.hack {
        &:after {
          background-color: #252525;
        }
      }
      &.cv {
        &:after {
          background-color: #f44336;
        }
      }
      &.consulting {
        &:after {
          background-color: #326394;
        }
      }
      &.donation {
        &:after {
          background-color: #dedede;
        }
      }
    }

    a {
      position: relative;
      display: block;
      padding: 11px 0;
      font-size: 16px;
      font-family: "Quicksand", sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      line-height: 28px;
      z-index: 20;

      @media screen and (max-width: 991px) {
        font-size: 15px;
        letter-spacing: 1px;
      }
      @media screen and (max-width: 991px) {
        padding: 15px 0;
        font-size: 24px;
      }

      &:hover {
        &:before,
        &:after {
          opacity: 1;
          height: 2px;
          -webkit-transform: scale(0.5) rotate(-30deg);
          -moz-transform: scale(0.5) rotate(-30deg);
          -ms-transform: scale(0.5) rotate(-30deg);
          -o-transform: scale(0.5) rotate(-30deg);
          transform: scale(0.5) rotate(-30deg);

          @media screen and (max-width: 768px) {
            -webkit-transform: scale(0.5) rotate(-70deg);
            -moz-transform: scale(0.5) rotate(-70deg);
            -ms-transform: scale(0.5) rotate(-70deg);
            -o-transform: scale(0.5) rotate(-70deg);
            transform: scale(0.5) rotate(-70deg);
          }
        }
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 40px;
        height: 1px;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-transform: scale(1) rotate(-30deg);
        -moz-transform: scale(1) rotate(-30deg);
        -ms-transform: scale(1) rotate(-30deg);
        -o-transform: scale(1) rotate(-30deg);
        transform: scale(1) rotate(-30deg);

        @media screen and (max-width: 768px) {
          -webkit-transform: scale(0.5) rotate(0deg);
          -moz-transform: scale(0.5) rotate(0deg);
          -ms-transform: scale(0.5) rotate(0deg);
          -o-transform: scale(0.5) rotate(0deg);
          transform: scale(0.5) rotate(0deg);
        }
      }

      &:before {
        top: 0;
        margin-left: -5px;
        left: 50%;

        @media screen and (max-width: 768px) {
          left: 0;
          top: 50%;
          right: auto;
          margin-left: -40px;
        }
      }

      &:after {
        bottom: 0;
        margin-right: -5px;
        right: 50%;

        @media screen and (max-width: 768px) {
          right: 0;
          top: 50%;
          left: auto;
          margin-right: -40px;
        }
      }
    }
  }
}
