.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffeb3b;
  transition: background 0.5s;
  overflow: hidden;

  &.main {
    color: #252525;
    background-color: #ffeb3b;

    a {
      color: #252525;
    }
  }
  &.hack {
    color: #ffffff;
    background-color: #252525;

    a {
      color: #ffffff;
    }
  }
  &.cv {
    color: #ffffff;
    background-color: #f44336;

    a {
      color: #ffffff;
    }
  }
  &.consulting {
    color: #ffffff;
    background-color: #326394;

    a {
      color: #ffffff;
    }
  }
  &.donation {
    color: #252525;
    background-color: #dedede;

    a {
      color: #252525;
    }
  }
}

.mainSection {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 0 40px;
  z-index: 30;
  transition: opacity 0.35s;
  transition-delay: 0.5s;

  @media screen and (max-width: 991px) {
    justify-content: center;
  }
  @media screen and (max-width: 768px) {
    padding: 0 30px;
  }
  @media screen and (max-width: 420px) {
    padding: 0 15px;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
  }
}
