// reset css
@import url("./scss/_reset.scss");

// fonts
@import url("./scss/_fonts.scss");

// buttons
@import url("./scss/_buttons.scss");

html,
body,
#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 2px;
  line-height: 1.2em;
}

h2 {
	font-size: 34px;
}
